.container{
    padding-top: 15em;
    color: white;
    overflow: hidden;
    padding-bottom: 9em;
    /* height: 1000vh/; */
}

.child1{
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2.5em;
    padding-right: 2.5em;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;

}

.work_text{
    font-weight: 500;
    font-size: 37em;
    height: .3em;
    display: flex;
    align-items: center;
    padding-top: .15em;
    line-height: .6;
    padding-bottom: .4em;

}

.c_image{
    width: 18.75em;
    height: 18.75em;
    border-radius: 16px;
    position: absolute;
    display: none;
}

.d_block{
    display: block !important;
}

.cc_2{
    margin-bottom: -3.9375em;
    margin-left: -5.6em;
}
.cc_3{
    margin-bottom: -6.3em;
    margin-left: -5.75em;
}
.cc_4{
    margin-bottom: -5.75em;
}
.cc_5{
    margin-right: -8em;
}
.cc_5{
    margin-top: -2.75em;
    margin-left: -2.5625em;
}